version: 2
jobs:
  build:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "android/build.gradle" }}-{{ checksum  "android/app/build.gradle" }}
      # - run:
      #     name: Download Dependencies
      #     command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "android/build.gradle" }}-{{ checksum  "android/app/build.gradle" }}
      - run: flutter doctor
      # - run: flutter test 
      - run: flutter -v build apk
      - attach_workspace:
          at: ./build/app/outputs/apk/release
  release:
    working_directory: /go/src/github.com/damilolaA/flutter-ci
    docker: 
      - image: circleci/golang
    steps:
      - checkout
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get github.com/tcnksm/ghr
            VERSION=$(my-binary --version)
            ghr -t ${GITHUB_API_KEY} -u ${PROJECT_USERNAME} -r ${PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./artifacts/
      # - run: bash ./upload.sh
workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: develop
      - release:
          requires:
            - build
